/* All of your setup and non media query CSS */

@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: BellGothic;
    src: url(../fonts/BellGothicStd-Bold.otf);
}

html {
    font: normal 100% 'BellGothic', sans-serif;
    height: 100%;
}

body {
    font-size: 100%;
    line-height: 1.625; /* 26px */
    height: 100%;
}

#container {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.background_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-image: url(../images/1-Bishop-background_01_02.png);
}

.content {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
} 

.logo {
    max-width: 100%;
    width: 60%;
    margin: 2% 20% 0 20%;
    position: relative;
    z-index: 10;
}

a {
    color: #Bc5235;
    text-decoration: none;
}

/* Header */

#header {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
    height: auto; 
    overflow: hidden;
}

/* Menu */ 

#menu {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.menu_background {
    max-width: 100%;
    width: 60%;
    height: auto;
    margin: 0 20%;
}

.star {
    max-width: 100%;
    width: 12%;
    z-index: 10;
}

.training {
    position: absolute;
    top: 17%;
    left: 28%; 
}

.packages {
    position: absolute;
    top: 14%;
    left: 57%; 
}

.about {
    position: absolute;
    top: 50%;
    left: 27%; 
}

.videos {
    position: absolute;
    top: 54%;
    left: 48%; 
}

.resources {
    position: absolute;
    top: 46%;
    left: 65%;
}

/* Main */

#main {
    max-width: 105em;
    width: 100%;
    margin: 0 auto;
}

h1 {
    max-width: 100%;
    width: 60%;
    margin: 0 20%;
    font-size: 2em;
    position: relative;
    z-index: 10;
}

.knewave {
    font-family: 'Knewave', cursive;
}

.impact {
    font-family: 'impact';
}

.bellgothic {
    font-family: 'BellGothic';
}

.orange {
    color: #BC5235;
}

.center {
    text-align: center;
}

.boxes {
    max-width: 105em;
    margin: -1% 20% 0 20%;
    height: auto;
    border-style: solid; 
    border-width: 6.875em 6.250em 6.875em 6.250em; 
    border-image: url(../images/Text-Bubble_03.gif) 185 155 185 155 fill;  
}

.boxes_text {
    width: 114%;
    height: auto;
    background-color: #FFFFFF;
    margin: -11% 0 -11% -11%;
    border-radius: 5.625em;
    padding: 4%; 
    position: relative;
    z-index: 10;
    text-align: justify;
}

.boxes_text iframe {
    max-width: 100%;
    width: 90%;
    margin: 0 5%;
    padding: 4% 0;
}

.contact {
    max-width: 105em;
    margin: -1% 20% 0 20%;
    height: auto;
    border-style: solid; 
    border-width: 5.625em 5.000em 5.625em 5.000em; 
    border-image: url(../images/Text-Bubble_03.gif) 245 240 245 240 fill;
}

.contact_text {
    width: 108%;
    height: auto;
    background-color: #FFFFFF;
    margin: -10% 0 -11% -10%;
    border-radius: 3.750em;
    padding: 6%;
}

.boxes_text p {
    font-size: 1.15em;
    width: 96%;
    margin: 2%;
}


/* Footer */ 

#push {
    max-width: 105em;
    width: 100%;
    height: 0;
    margin: 0 auto;
}
    
#footer{
    max-width: 105em;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2% 0;
    overflow: hidden;

}

.social {
    max-width: 100%;
    width: 60%;
    margin: 0 20%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.social li {
    width: 20%;
    list-style-type: none;
    display: inline-block;
}

#footer .social li a {
    border-bottom: 0;
}

.footer_text {
    max-width: 100%;
    width: 60%;
    margin: 2% 20%;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #000000;
    border-bottom: .2em solid #BC5235;
    
}